In [1]:
import pandas as pd
import numpy as np

In [10]:
Renewable_investment = pd.read_csv('Renewable Investment.csv')
Renewable_investment

,Recipient Country/Area,ISO-code,Region,Project,Date,Investor,Technology,Asset Class,Amount (USD million),Source,Year,Unnamed: 11,Unnamed: 12
0,Afghanistan,AFG,Asia,Decentralized Power Supply through Renewable E...,1/1/2013,Others,Multiple renewables*,Grant,20.943934,2013 OECD Credit Report System (CRS) Database,2013,NaN,NaN
1,Chile,CHL,South America,Renewable Energy and Energy Efficiency Program...,1/1/2013,Others,Multiple renewables*,Grant,1.846095,2013 OECD Credit Report System (CRS) Database,2013,NaN,NaN
2,Palestine,PSE,Middle East,Assistance to Social and Development Projects ...,1/1/2013,Others,Solar energy,Grant,0.045062,2013 OECD Credit Report System (CRS) Database,2013,NaN,NaN
3,Romania,ROU,Europe,Smardan Wind Project,1/1/2013,EBRD,Wind energy,Loan,68.327399,http://www.ebrd.com/work-with-us/projects/psd/...,2013,NaN,NaN
4,Brazil,BRA,South America,Dos Arcas Wind Project,1/2/2013,BNDES,Wind energy,Loan,23.235377,Online database,2013,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4799,Bosnia Herzg,BIH,Europe,Installation of geothermal heating in a school...,12/28/2017,Others,Geothermal energy,Grant,0.190965,2017 OECD Credit Report System (CRS) Database,2017,NaN,NaN
4800,Bosnia Herzg,BIH,Europe,Support of energy self sufficiency of minority...,12/28/2017,Others,Solar energy,Grant,0.027486,2017 OECD Credit Report System (CRS) Database,2017,NaN,NaN
4801,Brazil,BRA,South America,EOLICA SERRA DA BABILONIA XII S.A,12/28/2017,BNDES,Wind energy,Loan,31.276596,Online database,2017,NaN,NaN
4802,China,CHN,Asia,Ea Energianalyse,12/28/2017,Others,Multiple renewables*,Private Development Finance,0.289753,2017 OECD Credit Report System (CRS) Database,2017,NaN,NaN
4803,Other Africa,XAF,Africa,"Funding for scientist exchanges, grants",12/28/2017,Others,Multiple renewables*,Grant,0.002887,2017 OECD Credit Report System (CRS) Database,2017,NaN,NaN

In [11]:
Renewable_investment.drop_duplicates(inplace=True)

In [12]:
Renewable_investment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Recipient Country/Area  4804 non-null   object
 1   ISO-code                4804 non-null   object
 2   Region                  4804 non-null   object
 3   Project                 4735 non-null   object
 4   Date                    4804 non-null   object
 5   Investor                4804 non-null   object
 6   Technology              4804 non-null   object
 7   Asset Class             4804 non-null   object
 8   Amount (USD million)    4804 non-null   float64
 9   Source                  4804 non-null   object
 10  Year                    4804 non-null   int64
 11  Unnamed: 11             0 non-null      float64
 12  Unnamed: 12             0 non-null      float64
dtypes: float64(3), int64(1), object(9)
memory usage: 488.0+ KB

In [13]:
# Drop columns 11 and 12 by their index
Renewable_investment.drop(Renewable_investment.columns[[11, 12]], axis=1, inplace=True)

In [14]:
Renewable_investment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4804 entries, 0 to 4803
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Recipient Country/Area  4804 non-null   object
 1   ISO-code                4804 non-null   object
 2   Region                  4804 non-null   object
 3   Project                 4735 non-null   object
 4   Date                    4804 non-null   object
 5   Investor                4804 non-null   object
 6   Technology              4804 non-null   object
 7   Asset Class             4804 non-null   object
 8   Amount (USD million)    4804 non-null   float64
 9   Source                  4804 non-null   object
 10  Year                    4804 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 413.0+ KB

In [15]:
null_counts = Renewable_investment.isnull().sum()

# Display the counts of null values
print(null_counts)

Recipient Country/Area     0
ISO-code                   0
Region                     0
Project                   69
Date                       0
Investor                   0
Technology                 0
Asset Class                0
Amount (USD million)       0
Source                     0
Year                       0
dtype: int64

In [18]:
Renewable_investment['Project'].fillna('Unknown', inplace=True)

In [19]:
null_counts = Renewable_investment.isnull().sum()

# Display the counts of null values
print(null_counts)

Recipient Country/Area    0
ISO-code                  0
Region                    0
Project                   0
Date                      0
Investor                  0
Technology                0
Asset Class               0
Amount (USD million)      0
Source                    0
Year                      0
dtype: int64

In [20]:
Renewable_investment.to_csv('Cleaned_Renewable_Investment.csv', index=False)